<div class="container">
    <div class="alert alert-warning" ng-hide="user.token">
        You must be authenticated to use this application.
    </div>
    <div class="row" ng-show="user.token">
        <form novalidate>
            <table class="table table-condensed">
                <tr>
                    <th>Category</th>
                    <th style="width: 15px;">Operations</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="label" class="form-control input-sm"
                               ng-model="category.label" ng-enter="update(category)"/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" ng-click="update(category)">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="item in categories" ng-cloak>
                    <td>{{item.label}}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-xs"
                                ng-click="get(item)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs"
                                ng-click="delete(item.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
