<div class="container">
    <div class="alert alert-warning" ng-hide="user.token">
        You must be authenticated to use this application.
    </div>
    <div class="row" ng-show="user.token">
        <form novalidate>
            <table class="table table-condensed">
                <tr>
                    <th>Product</th>
                    <th style="width: 40%;">Category</th>
                    <th style="width: 20px;">Quantity</th>
                    <th style="width: 15px;">Operations</th>
                </tr>

                <tr>
                    <td>
                        <input type="text" id="product" class="form-control input-sm"
                               focus-me="focusInput" ng-model="product.product" ng-enter="update(product)"/>
                    </td>
                    <td>
                        <select id="category" class="form-control input-sm"
                                ng-model="product.category"
                                ng-options="category.label for category in categories"></select>
                    </td>
                    <td>
                        <input type="number" id="quantity" class="form-control input-sm"
                               ng-model="product.quantity" ng-enter="update(product)"/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" ng-click="update(product)">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="reset()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </td>
                </tr>

                <tr ng-repeat="item in products">
                    <td>{{item.product}}</td>
                    <td>{{item.label}}</td>
                    <td>{{item.quantity}}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-xs"
                                ng-click="get(item)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-xs"
                                ng-click="deleteProduct(item.id, item.product)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="row" ng-show="user.token">
        <hr/>
        <button ng-click="removeAllProducts()" class="btn btn-default">
            Delete all
        </button>
    </div>
</div>
